$search-bar-border: none;

.header{
  width: 100%;
  box-shadow: 5px 5px 20px grey;
  display: flex;
    &__search{
      width: 80%;
    }
    &__brand{
      color: antiquewhite;
      margin-left: 2%;
      padding: 0.8em;
      width: 10%;
      cursor: pointer;
      text-align: center;
    }
    &__search-drop{
      min-width: 30px;
      width: 10%;
      height: 2.6rem;
      border:$search-bar-border;
      font-weight: 600;
    }
    &__search-bar{
      width: 80%;
      height: 2.5rem;
      border: $search-bar-border;
      display: inline;
    }
    &__search-btn{
      width: 10%;
      height: 2.7rem;
      background-color: red;
      border: $search-bar-border;
    }
    &__login{
      color: white;
      display: inline-block;
      width: 20%;
      text-align: right;
      margin: 1.7em 0.2em 0 0;
      h5{
        display: inline-block;
        a{
          text-decoration: none;
          color: aliceblue;
        }
      }
      &--user-icon{
        margin-right: 0.4em;
        padding: 0.2em;
        font-size: 1.3em;
      }
    }

  }

